<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
			<!--<header class="modal__header">
				<h2>Уведомить о поступлении</h2>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close><img src="images/dist/close_btn.svg"></button>
			</header>
			-->
			<form method="POST" action="" id="notify-form">
			<main class="modal__content" id="modal-1-content">
				<!--<button class="modal__close" aria-label="Close modal" data-micromodal-close><img src="images/dist/close_btn.svg"></button>-->
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
					<h2>Уведомить о поступлении</h2>
					<div class="prompt"><span>Заполните минимум одно поле!</span></div>
					<div class="input_wrap">
						<label for="notify_form_phone"><span class="bold_span">Телефон </span><span>(уведомим сообщением)</span></label>
						<input name="notify_form_phone" id="notify-form__phone" type="text">
					</div>
					<div class="input_wrap">
						<label for="notify_form_email"><span class="bold_span">Email</span></label>
						<input name="notify_form_email" id="notify-form__email" type="email">
					</div>
				
			</main>

			<footer class="modal__footer">
				<div class="success" style="display: none;">
					<span>Успешно отправлено!</span>
				</div>
			<button type="submit" class="modal__btn black_btn" id="notify-form__send-btn">УВЕДОМИТЬ</button>
			</footer>
			</form>
		</div>
	</div>
</div>


<!--Модалка для слайдера-->
<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
	<div class="modal__overlay modal__overlay__fullscreen" tabindex="-1" data-micromodal-close>
		<div class="modal__container slider_modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
			<main class="modal__content" id="modal-2-content">

				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
				<div class="gallery modal-gallery">
					<div class="swiper-wrapper">
						<div data-swiper-parallax="-100" class="swiper-slide gallery__slide">
							<div class="gallery__slide__bg" style="background-image: url(images/dist/gallery/1.svg);"></div>
						</div>
						<div data-swiper-parallax="-100" class="swiper-slide gallery__slide">
							<div class="gallery__slide__bg" style="background-image: url(images/dist/gallery/2.svg);"></div>
						</div>
						<div data-swiper-parallax="-100" class="swiper-slide gallery__slide">
							<div class="gallery__slide__bg" style="background-image: url(images/dist/gallery/3.svg);"></div>
						</div>			
					</div>
			
					  <!-- If we need navigation buttons -->
					  <div class="swiper-button-prev swiper_buttons js_prev_btn_modal"></div>
					  <div class="swiper-button-next custom-sw-btn-nxt swiper_buttons js_next_btn_modal"></div>
					  <!--Счетчик слайдов-->
					  <div class="swiper-counter"><span class="count"></span>/<span class="total"></span></div>
				</div>
	
			</main>
		</div>
	</div>
</div>

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<div class="footer-items-wrap">
					<div class="footer-zag-wrap">
						<span class="footer-zag">Мы в соцсетях</span>
					</div>
					<div>
						<span>Intagram: </span><a href="#" target="_blank">instagram.com/adad</a>
					</div>
					<div>
						<span>Tiktok: </span><a href="#" target="_blank">tiktok.com/adad</a>
					</div>
					<div>
						<span>Telegram: </span><a href="#" target="_blank">t.me/delta85</a>
					</div>
					<div>
						<span>Twitter: </span><a href="#" target="_blank">twitter.com/delta85pro</a>
					</div>					
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/app.min.js"></script>


</body>
</html>