<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<section class="tovar">
	<div class="gallery">
		<div class="swiper-wrapper">
			<div data-swiper-parallax="-100" class="swiper-slide gallery__slide">
				<div class="gallery__slide__bg" style="background-image: url(images/dist/gallery/1.svg);"></div>
			</div>
			<div data-swiper-parallax="-100" class="swiper-slide gallery__slide">
				<div class="gallery__slide__bg" style="background-image: url(images/dist/gallery/2.svg);"></div>
			</div>
			<div data-swiper-parallax="-100" class="swiper-slide gallery__slide">
				<div class="gallery__slide__bg" style="background-image: url(images/dist/gallery/3.svg);"></div>
			</div>			
		</div>

		  <!-- If we need navigation buttons -->
		  <div class="swiper-button-prev swiper_buttons js_prev_btn_main"></div>
		  <div class="swiper-button-next custom-sw-btn-nxt swiper_buttons js_next_btn_main"></div>
		  <!--Счетчик слайдов-->
		  <div class="swiper-counter"><span class="count"></span>/<span class="total"></span></div>
	</div>
	<div class="tovar_description">
		<div class="descr-wrap">
			<h1>Название товара</h1>
			<span>Описание товара</span>
			<p>шкупшупкшщ Такой-то уоауооуа оуо аоуа оу аау ыдуыл  аауылдыжуда НУ пушошпущ  шкупшупкшщ 
				Такой-то уоауооуа оуо аоуа оу аау ыдуыл  аауылдыжуда НУ пушошпущ  шкупшупкшщ Такой-то
			</p>
			<span>Состав</span>
			<p>Оу оу оу - 90% то-то 10% то-то 
				Оу оу оу - 90% то-то 10% то-то
				Оу оу оу - 90% то-то 10% то-то
				Оу оу оу - 90% то-то 10% то-то
				Оу оу оу - 90% то-то 10% то-то
				Оу оу оу - 90% то-то 10% то-то
				Оу оу оу - 90% то-то 10% то-то
			</p>
			<span class="tovar-price" style="font-size: 32px;">90 000 ₽</span>
		</div>
		<div class="btn_buy_wrap" style="display: block;">
			<button class="black_btn js_show_modal" data-micromodal-trigger="modal-1">УВЕДОМИТЬ О ПОСТУПЛЕНИИ</button>
			<span class="akcent_span">Нет в наличии</span>
		</div>

		<div class="btn_buy_wrap" style="display: block;">
			<a class="black_btn buy_href" href="/oformit_zakaz.html">КУПИТЬ</a>
		</div>
	</div>
</section>
<!--#include virtual="/parts/footer.html" -->
