<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<section class="info oformit">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 offset-lg-2">
				<h1>Оформление заказа и доставки</h1>
				<div class="oformit__descr">
					<img src="/images/dist/short_tovar.svg" class="tovar_short_img">
					<span class="oformit__name bold_span">Название товара</span><span class="oformit__price bold_span">90 000 ₽</span>
				</div>
				<div class="oformit__dostavka">
					<img src="/images/dist/sdek.svg" class="dostavka_img">
					<div class="dostavka_wrap">
						<div class="dostavka_zag_wrap">
							<span class="bold_span">Доставка: СДЭК </span><span>(в пункт выдачи)</span>
						</div>
						<div class="dostavka_srok_wrap">
							<span class="bold_span">Срок доставки: </span><span>от 2-х до 14 дней</span>
						</div>
						<div class="dostavka_vremya_hran">
							<span class="bold_span">Время хранения посылки: </span><span>7 дней</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-12 offset-lg-2">
				<form method="POST" id="order_form" enctype="multipart/form-data">
					<div class="prompt"><span>При получении заказа в СДЭК, потребуются паспорт на ваше имя!</span></div>
					<div class="input_wrap">
						<label for="order_form_name"><span class="bold_span">Имя</span></label>
						<input name="order_form_name" id="order_form_name" type="text" required>
					</div>
					<div class="input_wrap">
						<label for="order_form_surname"><span class="bold_span">Фамилия</span></label>
						<input name="order_form_surname" id="order_form_surname" type="text" required>
					</div>
					<div class="input_wrap">
						<label for="order_form_phone"><span class="bold_span">Телефон </span><span>(Вышлем на него трек номер)</span></label>
						<input name="order_form_phone" id="order_form_phone" type="text" required>
					</div>
					<div class="prompt"><span>Пункт выдачи подбирается вблизи к вашему дому!</span></div>
					<div class="input_wrap">
						<label for="order_form_city"><span class="bold_span">Город</span></label>
						<input name="order_form_city" id="order_form_city" type="text" required>
					</div>
					<div class="input_wrap">
						<label for="order_form_street"><span class="bold_span">Улица</span></label>
						<input name="order_form_street" id="order_form_street" type="text" required>
					</div>
					<div class="input_wrap">
						<label for="order_form_house_number"><span class="bold_span">Номер дома</span></label>
						<input name="order_form_house_number" id="order_form_house_number" type="text" required>
					</div>
					<div class="input_wrap">
						<label for="order_form_comment"><span class="bold_span">Комментарий к заказу </span><span>(необязательно)</span></label>
						<textarea rows="9" name="order_form_comment" id="order_form_comment"></textarea>
					</div>
					<div class="input_wrap">
						<p>Сумма к оплате <span class="bold_span">90 000 ₽.</span>
							<br>
							<br>
							Оплата переводом на карту Сбербанка 2523 5326 3623 2423 (Виктор Владимирович Б),
							<br>
							<span class="bold_span">нужно прикрепить чек ниже.</span>
							<br>
							<br>
							Подробнее про оплату и доставку можно узнать <a class="oplata_i_dostavka_link" href="/oplata_i_dostavka.html">здесь</a>.</p>
					</div>
					<div class="input_wrap">
						<span class="order_form_check bold_span">Чек об оплате</span>
						<a class="load_btn" id="order_form_check_btn" type="button"><span>+ Загрузить</span></a>
					</div>
					<div class="input_wrap" style="display: none;">
						<input name="order_form_check" id="order_form_check" type="file" required>
					</div>
					<div class="success" style="display: none;">
						<span>Успешно отправлено!</span>
					</div>
					<button class="black_btn">ОПЛАТИЛ(А)</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!--#include virtual="/parts/footer.html" -->
