<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<section class="info">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Про оплату</h1>
				<p>Оплата только переводом на карту Сбербанка 2523 5326 3623 2423(Виктор Владимирович Б.), нужно прикреплять чек в оформлении заказа. 
					Вернуть средства можно, если заказ не передан в доставку.</p>
				<h2>Про доставку</h2>
				<p>Служба доставки только СДЭК.
					Другой способ доставки возможен, напишите нам, обсудим!</p>
				<h2>Есть вопросы?</h2>
				<p>Можно связаться с нами в чате на сайте, в WhatsApp (+79512402623)или в Telegram (@baksha2003).</p>
			</div>
		</div>
	</div>
</section>
<!--#include virtual="/parts/footer.html" -->
