// USER VARIABLES SECTION

$accent: #FF1E8A // Accent Color
$fontsize: 20px // Body Font Size
$textcolor: #000000 // Text Color
$link_color: #1EAEFF
$dark: #000000
$white_color: #fff
$input_bacground: #F5F5F5
$prompt_bg: rgba(30, 174, 255, 0.1)
$bold_text: 600
$menu_heigth: 62px
$bold_text_line_height: 300%
$lineheight: 1.5 // Document Line Height
$userfont: roboto-oh5, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$transilion: 0.8s ease
$border-radius: 10px
$border-color: #DADADA


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/_utilities.scss' // Optional Bootstrap Utilites
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@import 'node_modules/swiper/swiper-bundle'
@import 'node_modules/tingle.js/dist/tingle'
// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('roboto-oh5', normal, 400, '../fonts/roboto-regular-webfont.woff2')
@include font('roboto-oh5', italic, 400, '../fonts/roboto-italic-webfont.woff2')
@include font('roboto-oh5', normal, 700, '../fonts/roboto-bold-webfont.woff2')
@include font('roboto-oh5', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')

// GENERAL CSS SETTINGS

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
