@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

/*Основная стилизация*/

body
    @include media-breakpoint-down(lg)
        font-size: 16px
        text-align: center

h1, h2
    font-size: 40px
    font-weight: $bold_text
    line-height: $bold_text_line_height
    @include media-breakpoint-down(lg)
        font-size: 16px
        line-height: 250%
        text-align: center

section
    display: block

a
    text-decoration: none
    transition: $transilion
    &:hover
        cursor: pointer
        color: $accent

input, textarea
    background: $input_bacground
    border-radius: $border-radius
    height: 45px
    width: 96%
    padding: 10px 2%
    border: 2px $border-color solid
    &:focus, &:hover, &:active
        border: 2px $accent solid
    &:focus:required:invalid
        border: 2px $accent solid

textarea
    &:focus, &:active, &:target, &:invalid, &:required
        border: 2px $border-color solid
        

textarea
    height: unset

.input_wrap
    margin: 35px 0

label
    margin-bottom: 6px    

header
    background-color: $dark
    height: $menu_heigth
    width: 100%
    position: fixed
    z-index: 999

img
    max-width: 100%

nav
    display: block
    text-align: right
    margin-top: 4px
    .menu_item
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: $white_color
        margin-left: 30px
        transition: $transilion
        &:hover
            color: $accent
            text-decoration: underline
        @include media-breakpoint-down(lg)
            display: none



.header-wrapper
    margin-top: 11px

.logo
    color: $accent
    font-size: 32px
    line-height: 38px
    @include media-breakpoint-down(lg)
        text-align: center
        display: block
        font-size: 22px
        max-width: fit-content
        margin: 0 auto

.header-wrapper
    top: 50%

.tovar
    padding-top: $menu_heigth
    display: flex
    justify-content: flex-start
    align-items: start
    @include media-breakpoint-down(lg)
        flex-direction: column

.modal__close
    display: none

.gallery
    width: 50%
    overflow: hidden
    height: 94vh
    @include media-breakpoint-down(lg)
        width: 100%
        height: 35vh

.tovar_description
    padding-left: 3%
    width: 50%
    @include media-breakpoint-down(lg)
        width: 100%
        padding-left: 0px

    .descr-wrap
        max-width: 90%
        @include media-breakpoint-down(lg)
            max-width: 100%
            padding-left: 2%
            padding-right: 2%
            padding-top: 2%
            padding-bottom: 2%
        span
            font-weight: $bold_text
            font-size: 20px
            line-height: $bold_text_line_height
            @include media-breakpoint-down(lg)
                font-size: 16px
                text-align: center

.custom-sw-btn-nxt
    left: 94%
    @include media-breakpoint-down(xs)
        left: 91%

.gallery__slide
    height: 100%
    overflow: hidden

.gallery__slide__bg
    height: 100%
    background-position: bottom
    background-size: cover
    object-fit: cover

.swiper-counter
    position: absolute
    z-index: 99999
    bottom: 2%
    left: 47%
    // @include media-breakpoint-down(lg)
    //     left: 44%

.swiper_buttons
    color: #fff
    height: 100vh
    top: -4vh
    width: 9%
    left: unset
    &:hover
        background: rgba(30, 174, 255, 0.1)
    @include media-breakpoint-down(lg)
        height: 45vh

.swiper-button-next
    right: 0

button
    @include media-breakpoint-down(lg)
        font-size: 14px


.black_btn
    width: 76%
    height: 54px
    background-color: $dark
    color: $white_color
    transition: $transilion
    &:hover
        background-color: $accent

.btn_buy_wrap
    margin-bottom: 25px

.prompt
    background: $prompt_bg        
    border-radius: 2%
    height: 45px
    display: flex
    justify-content: flex-start
    align-items: center
    border-radius: 10px
    max-width: 96%
    span
        padding: 2%

.bold_span
    font-weight: $bold_text


/***Модальное окно. Базовая стилизация***
$var2: #00449e
$var3: #e6e6e6

.modal
    &__overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba(0, 0, 0, 0.6)
        display: flex
        justify-content: center
        align-items: center

    &__container
        background-color: $white_color
        padding: 30px
        width: 50%
        @include media-breakpoint-down(lg)
            width: 95%
        max-height: 100vh
        border-radius: 4px
        overflow-y: auto
        box-sizing: border-box
        overflow-x: hidden
        overflow-y: hidden


    &__header
        display: flex
        justify-content: space-between
        align-items: center
        background: $white_color


    &__title
        margin-top: 0
        margin-bottom: 0
        font-weight: 600
        font-size: 1.25rem
        line-height: 1.25
        color: $var2
        box-sizing: border-box
     

    &__close
        background-image: url("../images/dist/close_btn.svg")
        background-position: center
        background-repeat: no-repeat
        background-color: transparent
        height: 50px
        width: 62px
        z-index: 999
        border: none
        border: 0
        position: absolute
        right: 3%
        top: 2%
        bottom: 87%
        &:hover
            background-image: url("../images/dist/close_hover.svg")  
        img
            width: 80%
        @include media-breakpoint-down(lg)
            height: 35px
            width: 37px
            background-position: 43% 43%

    &__content
        line-height: 1.5
        color: rgba(0, 0, 0, 0.8)


    &__btn
        font-size: 0.875rem
        padding-left: 1rem
        padding-right: 1rem
        padding-top: 0.5rem
        padding-bottom: 0.5rem
        background-color: $dark
        color: $white_color
        border-radius: 0.25rem
        border-style: none
        border-width: 0
        cursor: pointer
        -webkit-appearance: button
        text-transform: none
        overflow: visible
        line-height: 1.15
        margin: 0
        will-change: transform
        -moz-osx-font-smoothing: grayscale
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
        -webkit-transform: translateZ(0)
        transform: translateZ(0)
        transition: -webkit-transform 0.25s ease-out
        transition: transform 0.25s ease-out
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out
        display: block
        margin: 0 auto
        &:focus, &:hover
            -webkit-transform: scale(1.05)
            transform: scale(1.05)

        &-primary
            background-color: $var2
            color: $white_color

#modal-2
    .modal__close
        top: 10%
    .modal__container
        @include media-breakpoint-down(lg)
            padding: unset


/***Модалка. Анимация***\
keyframes mmfadeIn 
            opacity: 0

to 
            opacity: 1

keyframes mmfadeOut 
            opacity: 1

to 
            opacity: 0

keyframes mmslideIn 
            transform: translateY(15%)

to 
            transform: translateY(0)

keyframes mmslideOut 
            transform: translateY(0)

to 
            transform: translateY(-10%)

.micromodal-slide
    display: none
    &.is-open
        display: block

    &[aria-hidden="false"] .modal__overlay
        animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1)

    &[aria-hidden="false"] .modal__container
        animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1)

    &[aria-hidden="true"] .modal__overlay
        animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1)

    &[aria-hidden="true"] .modal__container
        animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1)

    .modal__container, .modal__overlay
        will-change: transform

.slider_modal_container
    padding: unset



        

.modal-gallery
    width: 100%
    height: 100vh

.modal__overlay__fullscreen
    width: 100%

/*БУРГЕР МЕНЮ*/
.menu-btn 
    display: flex
    align-items: center
    position: absolute
    top: 28%
    left: 5%
    width: 26px
    height: 26px
    cursor: pointer
    z-index: 1
    > span, > span::before, > span::after 
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: $white_color
        transition-duration: .25s
	
    > span::before 
        content: ''
        top: -8px
	
    > span::after 
        content: ''
        top: 8px
	

.menubox 
    display: block
    position: fixed
    visibility: hidden
    top: 0
    left: -100%
    width: 77%
    height: 100%
    margin: 0
    padding: 80px 0
    list-style: none
    background-color: $dark
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)
    transition-duration: .25s

.menu-item 
    display: block
    padding: 12px 24px
    color: $white_color
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 20px
    font-weight: 600
    text-decoration: none
    transition-duration: .25s
    &:hover 
        background-color: #CFD8DC
	

#menu-toggle 
    opacity: 0
    &:checked ~ .menu-btn > span 
        transform: rotate(45deg)
        &::before 
            top: 0
            transform: rotate(0)
		
        &::after 
            top: 0
            transform: rotate(90deg)
    
    &:checked ~ .menubox 
        visibility: visible
        left: 0

.burger-menu
    display: none
    @include media-breakpoint-down(lg)
        display: unset

.akcent_span
    color: $accent
    display: block
    padding: 10px 0

.site-footer
    background-color: $dark
    width: 100%
    span
        color: $white_color
        text-align: left
    a
        text-align: left

.footer-zag-wrap
    margin-bottom: 15px

.footer-items-wrap
    padding: 15px 0px

.info
    padding-top: 60px
    min-height: 100vh

.buy_href
    width: 76%
    display: flex
    justify-content: center
    align-items: center
    @include media-breakpoint-down(lg)
        align-items: center
        justify-content: center
        margin: 0 auto
    &:hover
        color: $white_color

/*Страница оформления заказа
.oformit__descr
    display: flex
    @include media-breakpoint-down(lg)
        flex-direction: column
    .oformit__name
        margin-left: 40px
        font-size: 32px
        @include media-breakpoint-down(lg)
            margin-left: unset
            font-size: unset
    .oformit__price
        flex-grow: 10
        text-align: right
        font-size: 32px
        @include media-breakpoint-down(lg)
            text-align: center

.dostavka_wrap
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-left: 40px
    @include media-breakpoint-down(lg)
        margin-left: unset

.oformit__dostavka
    display: flex
    justify-content: flex-start
    @include media-breakpoint-down(lg)
        flex-direction: column

.oformit__descr
    margin-bottom: 38px

.dostavka_zag_wrap
    font-size: 32px
    @include media-breakpoint-down(lg)
        font-size: unset


.dostavka_srok_wrap
    margin-top: 16px
    margin-bottom: 16px

#order_form
    margin-top: 30px
    .load_btn
        margin: unset


.order_form_check
    display: block

.load_btn
    background: $input_bacground
    border-radius: $border-radius
    height: 45px
    width: 96%
    padding: 10px 2%
    border: 2px $border-color solid
    display: block
    margin: 0 auto
    text-align: center
    color: $textcolor
    span
        position: relative
        left: 0%
        bottom: 22%
        @include media-breakpoint-down(lg)
            font-size: 18px
    &:hover
        border: 2px $accent solid
        color: $accent
        

.order_form_check
    margin-bottom: 9px

#order_form
    button
        margin: 0 auto
        margin-bottom: 56px
        width: 96%

.success
    width: 96%
    height: 52px
    border-radius: 0.375rem
    background-color: #d1e7dd
    color: #0f5132
    text-align: center
    margin: 0 auto
    margin-bottom: 50px
    span
        position: relative
        top: 21%
    
.modal__close
    z-index: 99999
